In [2]:
import pandas as pd
df = pd.read_csv(r"C:\_NotebookAvanzadaII\Pandas\clima.csv")
df

       Ciudad  Temperatura  Precipitacion  Humedad  Viento
0      Madrid           25              5       60      12
1     Londres           18             10       75      15
2       París           22              8       70      10
3  Nueva York           30             20       65      18
4       Tokio           28             15       80      14

# Serie es un arreglo unidimensional

In [3]:
serie=df["Ciudad"]
serie

0        Madrid
1       Londres
2         París
3    Nueva York
4         Tokio
Name: Ciudad, dtype: object

In [4]:
serie2 = df["Humedad"]
serie2

0    60
1    75
2    70
3    65
4    80
Name: Humedad, dtype: int64

In [5]:
serie3 = df["Viento"]
serie3

0    12
1    15
2    10
3    18
4    14
Name: Viento, dtype: int64