In [3]:
import pandas as pd
data={
    "Id_producto":[1,2,3,4,5],
    "nombre_producto":["Manzana", "Pera", "Platano", "Naranja", "Uva"],
    "precio":[50, None, 15, 30, None],
    "cantidad":[None, 20, None, 40, 50]
}

df = pd.DataFrame(data)
df

   Id_producto nombre_producto  precio  cantidad
0            1         Manzana    50.0       NaN
1            2            Pera     NaN      20.0
2            3         Platano    15.0       NaN
3            4         Naranja    30.0      40.0
4            5             Uva     NaN      50.0

In [ ]:
df.info()

In [4]:
df.isnull().sum()

Id_producto        0
nombre_producto    0
precio             2
cantidad           2
dtype: int64

In [5]:
dfLimpio = df.dropna()
dfLimpio

   Id_producto nombre_producto  precio  cantidad
3            4         Naranja    30.0      40.0

In [9]:
dfRellenado = df.fillna({"precio":df["precio"].mean(), "cantidad":0})
dfRellenado

   Id_producto nombre_producto     precio  cantidad
0            1         Manzana  50.000000       0.0
1            2            Pera  31.666667      20.0
2            3         Platano  15.000000       0.0
3            4         Naranja  30.000000      40.0
4            5             Uva  31.666667      50.0

In [ ]:
df_unicos = dfRellenado.drop_duplicates(subset = "id_producto")
df_unicos